.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #27384C;
    position: fixed;
    z-index: 999;
  }
  
  .navbar-left {
    margin-left: 10%;
    flex-grow: 1;
  }
  
  .navbar-right {
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    margin-right: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }

  .logo-image {
    height: 40px;
  }
  
  .nav-button {
    padding: 16px 16px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-button:last-child {
    margin-right: 0;
  }