    *{
        box-sizing:border-box;
        margin: 0%;
        padding: 0%;
        font-family: 'Nunito', sans-serif;
    }

    body{
        background-color: #0F1823;
    }

    h1{
        color: aliceblue;
        font-size:30px;
    }

    h2{
        color: #47FFFF;
        font-size:30px;
    }

    /*NAVEGADOR*/

    nav{
        background-color: #213143;
        width: 100%;
        padding: 5px 10%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    
    nav ul{
        display: flex;
        align-content: center;
        list-style: none;
        margin: 10px;
    }

    nav ul li{
        margin-left: 40px;
    }

    nav a{
        display: block;
        color: rgb(255, 255, 255);
        font-family: 'Nunito', sans-serif;
        text-decoration: none;
    }

    nav a:hover{
        display: block;
        color: #47FFFF;
        font-family: 'Nunito', sans-serif, 800;
        text-decoration: none;
        transform: translate(1%);

    }

    .icon{
        padding: 0px 10px;
    }

    img{
        vertical-align: middle;
    }

    .logo{
        cursor: pointer;
    }

    /*PARKING*/

    .parking-grid{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 1.5%;
    }

    .parking-box{
        width: 45%;
        height: 800px;
        border: 4px;
        /*background-color: rgb(255, 22, 185);*/
        text-align: center;
        float: left;
        margin: 50px 10px;
    }

    .container-card{
        width: 100%;
        display: flex;
        max-width: 1100px;
    }

    .parking-card{
        display: flex;
        width: 100%;;
        height: 100px;
        background-color: aliceblue;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden; /*todo lo que esté fuera de la tarjeta se oculta*/
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        cursor: default;
        transition: all 400ms ease;
    }

    .parking-card:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translate(3%);
    }

    .parking-card img{
        display: flex;
        align-items: flex-start;
        height: 100px;
    }

    .parking-card .container-card{
        padding: 10px;
        text-align: center;
    }

    .parking-card .contenido{
        padding: 1%;
    }

    .parking-card a{
        text-decoration: none;
        font-size: 30px;
        color: #0F1823;
        margin: 0;
        padding: 0;
    }

    .parking-card hr{
        width: 180%;
        margin: 0;
        padding: 0;
    }

    .parking-card p{
        text-align:left;
        margin: 0;
        padding: 0;
    }

    .parking-box{
        display: block;
        align-items: flex-start;
        padding: 1%;
    }

    .parking-box p{
        color: aliceblue;
        font-size: 20px;
        text-align: left;
    }

    .parking-box h2{
        margin-top: 20px;
        text-align: left;
    }

    .parking-box hr{
        color: #47FFFF;
    }

    .parking-box .stars{
        width: 30%;
        padding: 20px;
    }


    /*NOSOTROS*/

        /*NAVEGADOR NOSOTROS*/

    .nav-nosotros{
        width: 100%;
        padding: 5px 10%;
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: 100px;
        z-index: 1;
    }
    
    .nav-nosotros ul{
        display: flex;
        align-content: center;
        list-style: none;
        margin: 10px;
    }

    .nav-nosotros ul li{
        display: block;
        padding: 0px 40px;
    }

    .nav-nosotros ul li a{
        color: aliceblue;
        text-decoration: none;

    }

    .nav-nosotros ul li a:hover{
        color: #47FFFF;
        text-decoration: none;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
        transition: all 400ms ease;
    }


    section {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
      }
      
      section:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      
      #seccion1:before {
        background-image: url("img/imagen1.png");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }

      
      
      #seccion2:before {
        background-color: #fff;
        background-image: url("img/imagen2.png");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
      
      #seccion3:before {
        background-image: url("img/imagen3.png");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
      
      #seccion4:before {
        background-image: url("img/imagen4.png");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
      
      #seccion5:before {
        background-image: url("img/imagen5.png");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
      
      nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
      }
      
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      nav li {
        margin: 0 10px;
      }
      
      nav a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        transition: all 0.3s ease;
      }
      
      nav a:hover {
        color: #00FFFF;
      }
      


