.contenedor-SubNavBar {
    color: aliceblue;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    margin-left: 10%;
    margin-right: 10%;
  }

  .subButton{
    padding: 16px 16px;
    color: #ffffff;
    text-decoration: none;
  }